.header3 {
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}
.content {
    min-height: calc(100vh-100px);
    padding: 50px;

}
.bottomrow {
    font-weight: bold;
 
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    position: fixed;
    height: 50px;
    width: 100%;
}