* {
  /* this makes it so the padding is included in the height of an element */
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

.header, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 50px;
  width: 100%;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.3);
  background-color: whitesmoke;
}

.content {
  min-height: calc(100vh - 100px);
  padding: 50px;
}

.footer {
  height: 50px;
  width: 100%;
  box-shadow: 0 -1px 1px 1px rgba(0,0,0,.3);
  background-color: whitesmoke;
}